<td-layout class="layout-nav-demo" sidenavWidth="280px">
  <td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <!-- button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button -->
      <span [routerLink]="['/home']" class="cursor-pointer fade-in"
        >Fictional Succotash</span
      >
      <mat-icon class="mat-icon-logo cursor-pointer">fireplace</mat-icon>

      <span flex></span>

      <div *ngIf="user">
        <ii-tray-icon></ii-tray-icon>
        <td-user-profile name="{{ user.name }}" email="{{ user.email }}">
          <ng-container td-user-action-list>
            <button mat-list-item (click)="logout()">
              <span matLine>{{ user.lastLogin | timeAgo }}</span>
            </button>
            <button mat-list-item (click)="logout()">
              <mat-icon matListAvatar>exit_to_app</mat-icon>
              <span matLine>Sign out</span>
            </button>
          </ng-container>
        </td-user-profile>
      </div>
    </div>
    <router-outlet></router-outlet>
    <td-layout-footer>
      <div layout="row" layout-align="center">
        <span class="mat-caption">&copy; {{ currentYear }} ii-co</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>
