<div flex layout="row">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
      <mat-list
        >Liked by:
        <mat-list-item *ngFor="let user of gUsers"
          >{{ user.name }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Akita Ken</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://cdn.britannica.com/59/234759-050-DA4F2DCF/Akita-dog-Japan.jpg"
      alt="Photo of Akita"
    />
    <mat-card-content>
      <p>
        The Akita is a muscular, double-coated dog of ancient Japanese lineage
        famous for their dignity, courage, and loyalty. In their native land,
        they're venerated as family protectors and symbols of good health,
        happiness, and long life.
      </p>

      <mat-list
        >Liked by:
        <mat-list-item *ngFor="let user of gUsers"
          >{{ user.name }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
